body {
  font-family: "Montserrat-thin", sans-serif;
  text-align: center;
}
/* .......................................................... */

/* title section */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-item {
  font-size: 1.3rem;
  margin: 0 15px;
}
.navbar {
  padding-bottom: 4.5rem;
}
#title {
  background-color: #ff4c68;
  text-align: left;
}
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
/* .......................................................... */

/* Features Section */

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.download-btn {
  margin: 5% 3% 5% 0;
}

.feature-Box {
  padding: 5%;
}
.feature-Box h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #202123;
}
.feature-Box p {
  color: #8f8f8f;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 7% 20%;
}
.carousel-item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.testimonial-image {
  width: 13%;
  border-radius: 100%;
  padding: 15px 0px;
}

/* .......................................................... */

/* press  */
#press {
  background-color: #ef8172;
  padding: 5% 10%;
}
.press-image {
  width: 20%;
}

/* .......................................................... */

/* Call to Action */

#cta {
  background-color: #ff4c68;

  padding: 7% 25%;
  color: #fff;
}
#cta h3 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
/* .......................................................... */

/* pricing */

#pricing {
  padding: 7% 15%;
}
.price-cmt {
  margin-bottom: 10%;
}
.price-cmt h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.price-card {
  padding-bottom: 10px;
}

/* footer */

#footer {
  padding: 7% 25%;
  font-size: 1rem;
}
.footer-icon {
  color: red;
}
.footer-icon:hover {
  font-size: x-large;
}
.social-icon {
  padding: 8px;
  margin-bottom: 10px;
}
.social-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}
/* .......................................................... */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .navigation {
    text-align: left;
  }

  .title-image {
    position: static;
    width: 40%;
    transform: rotate(0);
  }
}
/* .......................................................... */
